/AnimatedModelData.class
/AnimationData.class
/JointData.class
/JointTransformData.class
/KeyFrameData.class
/MeshData.class
/SkeletonData.class
/SkinningData.class
/Vertex.class
/VertexSkinData.class
